{% extends 'base.html.twig' %}

{% block title %}Modider mon mot de passe{% endblock %}

{% block content %}
    <h1>
        Modification du mot de passe
    </h1>

    {{ form(form) }}

    <hr>
    <li> <a href="{{ path('app_account') }}">Retour à mon compte</a></li>
{% endblock %}
